@import "tailwindcss";
@import "tw-animate-css";


/* index.css */


*, *::before, *::after {
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@theme{
    
    --font-jakarta : "Jakarta";
    --font-news-cycle: "News-Cycle"; 
    --font-poppins: "Poppins";
    --font-montserrat: "Montserrat";
    --font-inter: "Inter";
    --font-roboto: "Roboto";
    --color-dark:#000000; 
    --color-muted-white: #eaeaea;
    --color-gray: #686D76;
   
    

}

@layer base {
  :focus-visible:not(.no-focus-ring) {
    @apply outline-none ring-2 ring-white;
  }
}


/*custom fonts*/
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight:300;
  
}


@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;

 
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight:500;
  
}


@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
 
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
 
  
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
 
}


@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;

}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;

}


@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;

}










