@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=News+Cycle:wght@400;700&family=Orbitron:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


/* index.css */
html, body, #root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@theme{
    
    --font-jakarta : "Jakarta";
    --font-news-cycle: "News-Cycle"; 
    --font-poppins: "Poppins";
    --font-montserrat: "Montserrat";
    --font-inter: "Inter";
    --font-roboto: "Roboto";
    --color-dark:#000000	; 
    --color-muted-white: #eaeaea;
    --color-gray: #686D76;
   
    

}

*:focus {
  @apply outline-none ring-1 ring-white ; 
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/static/Roboto_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
 
}

@font-face {
  font-family:"Roboto";
  src: url("./assets/fonts/Robot/static/Roboto_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;

}


@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
 
}

@font-face {
  font-family:"Inter";
  src: url("./assets/fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;

}


  @font-face {
  font-family: "News-Cycle";
  src: url("./assets/fonts/News_Cycle/NewsCycle-Regular.ttf") format("truetype");
  font-weight: 400;
 
}

@font-face {
  font-family:"News-Cycle";
  src: url("./assets/fonts/News_Cycle/NewsCycle-Bold.ttf") format("truetype");
  font-weight: 700;
}
 

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
 
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  
}



@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: Semibold;

  
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Jakarta";
  src: url("./assets/fonts/Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta";
  src: url("./assets/fonts/Jakarta_Sans/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;

  
}








